# For our program in machine learning
#keras
tensorflow-gpu<=2.0.0b1
pillow
pygame
matplotlib
opencv-python
pydot # For model visualisation

# For dev (code lint & auto format)
autopep8
pylint

# For optimisation (robust design lecture)
numpy
scipy
matplotlib
ipython
jupyter
pandas
sympy
nose
pydot
